page-user-apply-list {
    .jobs-bar {
        background: #fff;
        font-size: 12px;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        overflow: auto;
        border-bottom: 0.55px solid #f2f2f2;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
        .job-item {
            display: inline-block;
            padding: 10px;
            text-align: center;
            color: #888;
            &.selected {
                color: color($colors, primary);
                border-bottom: 0.55px solid color($colors, primary);
            }
        }
    }

    .main-info {
        font-size: 0;
        color: #333;
        .name,.mobile,.idcard {
            font-size: 14px;
            line-height: 18px;
            vertical-align: middle;
            font-weight: 500;
        }
        .name {
            display: inline-block;
            width: 55px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
        }
        .mobile {
            padding-right: 6px;
        }
        .sex-icon {
            vertical-align: -6px;
            padding-right: 5px;
            .male {
                color: color($colors, primary);
            }
            .female {
                color: rgb(214, 118, 134);
            }
        }
        
        .idcard {
            font-size: 14px;
            color: #333;
            margin: 0;
            padding: 0;
        }
    }

    .other {
        margin-top: 5px;
        // font-size: 12px;
        .badge-ios {
            font-size: 12px;
            margin-right: 5px;
            background: #f2f2f2;
            color: #666;
            font-weight: normal;
        }
    }

    .item-ios.item-block .item-inner {
        border-bottom: 0;
    }

    .item-ios {
        border-bottom: 0.55px solid #f2f2f2;
    }

    .user-item {
        ion-icon {
            vertical-align: -1px;
            margin-right: 5px;
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
            color: #999;
            
        }

        &.has-selected {
            ion-icon {
                color: color($colors, primary);
            }
            
        }

        ion-icon[item-left] {
            margin-top: 24px;
            margin-left: -6px;
        }
    }

       .custom-toolbar {
        background: #fff;
        border-top: 0.55px solid #f2f2f2;
        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }

        .select-all {
            display: inline-block;
            // width: 120px;
            height: 50px;
            line-height: 50px;
            padding-left: 15px;
            color: #999;
            font-size: 14px;
            ion-icon {
                vertical-align: -1px;
                margin-right: 5px;
                font-size: 18px;
                font-weight: 700;
            }

            &.selected {
                color: color($colors, primary);
            }
        }

        .check-btn {
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding: 0 15px;
            min-width: 120px;
            text-align: center;
            color:#fff;
            background: color($colors, primary);
            &.disabled {
                opacity: 0.5;
            }
        }
    }

    ion-footer {
        height: 50px;
    }
}
