page-home {
    .caption {
        background: color($colors, primary);
        padding: 5px 0;
        color: #fff;
        font-family: "PingFang SC", Arial, Helvetica, sans-serif;
        h2,p {
            margin: 0;
            padding: 0;
        }

        .channel {
            .item-ios {
                background: transparent;
                color: #fff!important;
            }
            .name {
                font-size: 14px;
                font-weight: bold;
            }
            .mobile {
                color: #fff;
                font-size: 12px;
                margin-top: 2px;
            }
            .item-inner {
                border-bottom: 0;
            }
            ion-icon {
                font-size: 18px;
                // font-weight: normal;
            }
        }
        
    }

    .today-stats {
        margin-bottom: 5px;
        .stat {
            text-align: center;
            font-family: 'PingFang SC',Arial, Helvetica, sans-serif;
            .label {
                font-size: 12px;
            }
            .value {
                font-size: 18px;
            }
        }
    }
}
