page-home {
    .content {
        background: #fff;
    }
    .caption {
        background: color($colors, primary);
        padding: 5px 0;
        color: #fff;
        font-family: "PingFang SC", Arial, Helvetica, sans-serif;
        h2,p {
            margin: 0;
            padding: 0;
        }

        .channel {
            .item-ios {
                background: transparent;
                color: #fff!important;
            }
            .name {
                font-size: 14px;
                font-weight: bold;
            }
            .mobile {
                color: #fff;
                font-size: 12px;
                margin-top: 2px;
            }
            .item-inner {
                border-bottom: 0;
            }
            ion-icon {
                font-size: 18px;
                // font-weight: normal;
            }
        }
        
    }

    .today-stats {
        margin-bottom: 5px;
        .stat {
            text-align: center;
            font-family: 'PingFang SC',Arial, Helvetica, sans-serif;
            .label {
                font-size: 12px;
            }
            .value {
                font-size: 18px;
            }
        }
    }

    .apply-users {
        background: #fff;
        .item-ios.item-block .item-inner {
            border-bottom: 0;
        }
        .item-ios {
            border-bottom: 0.55px solid #f1f1f1;
            // &:last-child {
            //     border-bottom: 0;
            // }
        }

        .apply-user {
            // border-bottom: 0.55px solid #f1f1f1;
            .base-info {
                font-size: 0;
                color: #333;
                .name,.mobile,.idcard {
                    font-size: 14px;
                    line-height: 14px;
                    vertical-align: middle;
                }
                .name {
                    display: inline-block;
                    width: 55px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .mobile {
                    padding-right: 10px;
                }
                .sex-icon {
                    vertical-align: -6px;
                    padding-right: 5px;
                    .male {
                        color: color($colors, primary);
                    }
                    .female {
                        color: rgb(214, 118, 134);
                    }
                }
                
                .other {
                    margin-top: 8px;
                    // font-size: 12px;
                    .badge-ios {
                        font-size: 12px;
                        margin-right: 5px;
                        background: #f2f2f2;
                        color: #666;
                        font-weight: normal;
                    }
                }
            }
            .idcard {
                font-size: 14px;
                color: #333;
                margin: 0;
                padding: 0;
            }

            .job  {
                margin-top: 5px;
                .name,.time{
                    font-size: 12px;
                    color: #666;
                }
            }

            .apply-info {
                ion-row, ion-col {
                    margin: 0;
                    padding: 0;
                }
                background: #f7f7f7;
                padding: 5px;
                margin-top: 5px;
                .time {
                    font-size: 12px;
                    color: #666;
                    margin: 0;
                    padding: 0;
                }

                .be-late, .leave-early {
                    padding-left: 10px;
                    color: color($colors, danger);
                }
            }

        }
    }
}
