page-home {
    .caption {
        background: color($colors, primary);
        padding: 5px 0;
        color: #fff;
        font-family: "PingFang SC", Arial, Helvetica, sans-serif;
        h2,p {
            margin: 0;
            padding: 0;
        }

        .channel {
            .item-ios {
                background: transparent;
                color: #fff!important;
            }
            .name {
                font-size: 14px;
                font-weight: bold;
            }
            .mobile {
                color: #fff;
                font-size: 12px;
                margin-top: 2px;
            }
            .item-inner {
                border-bottom: 0;
            }
            ion-icon {
                font-size: 18px;
                // font-weight: normal;
            }
        }
        
    }

    .splitor {
        height: 5px;
        background: #f2f2f2;
    }

    .companies {
        .name {
            font-size: 14px;
            color: #333;
        }
        .comp-name {
            font-size: 12px;
            color: #999;
        }
    }

    .box {
        background: #fff;
        .list-ios {
            margin-top: 0;
            margin-bottom: 0;
        }
        .list-ios .item-ios.item-block:first-child {
            border-top: 0;

        }
        .list-ios .item-ios.item-block:last-child {
            border-bottom: 0;

        }

        .item-ios .item-inner {
            border-bottom-color: #f2f2f2;
        }

        .title {
            margin: 0;
            // background: #f2f2f2;
            padding: 15px;
            font-size: 12px;
            color: #333;
            border-bottom: 0.55px solid #f2f2f2;

            // clear: both;
            position: relative;
            .new-channel {
                // float: right;
                position: absolute;
                right: 5px;
                top: 7px;
                display: inline-block;
                color: color($colors, primary);
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                font-weight: normal;
                vertical-align: middle;
                ion-icon {
                    font-size: 20px;
                    font-weight: 700;
                    vertical-align: -2px;
                }
            }
            // text-align: center;
        }
        .empty-box {
            padding: 30px;
            text-align: center;
            color: #999;
        }
    }

    .child-list {
        .name {
            font-size: 14px;
            color: #333;
        }
        .child-id, .mobile {
            font-size: 12px;
            color: #999;
        }
    }
}
